---
import { Icon } from 'astro-icon/components'

interface Props {
	title: string
	icon: string
	body: string
	href: string
}

const { href, title, body, icon } = Astro.props
---

<li
	class="link-card flex list-none rounded-[7px] bg-[#23262d] bg-none p-px shadow-[inset_0_0_0_1px_rgba(255,255,255,0.1)] transition-[background-position_0.6s_cubic-bezier(0.22,1,0.36,1)]"
>
	<a
		class="w-full rounded-lg bg-[#23262d] p-[calc(1.5rem-1px)] leading-[1.4] text-white no-underline opacity-80"
		href={href}
	>
		<h2 class="duration-600 m-0 text-xl transition-colors ease-[cubic-bezier(0.22,1,0.36,1)]">
			<Icon class="mr-2 inline" name={icon} />
			{title}
		</h2>
		<p class="mb-0 mt-2">
			{body}
		</p>
	</a>
</li>
<style>
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}
</style>
