---
interface Props {
	title: string
	description: string
}

const { title } = Astro.props
import '@/styles/global.css'
import TWsizeindicator from '@/components/TWsizeindicator.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={Astro.props.description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	</head>
	<body class="bg-zinc-800 text-white">
		<TWsizeindicator />
		<slot />
	</body>
</html>
